<!DOCTYPE html>
<html lang="en">
  <!--(bake partials/head.html)-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="Bill splitter friends list">
    <title>Bill splitter | My friends</title>
  </head>
  <body>
    <!--(bake partials/navbar.html)-->
    <!--(bake partials/modals.html)-->
    <main class="container pt-md-5 pb-5">
      <h1 class="display-4">My friends</h1>
      <hr class="mb-5" />
      <div class="row">
        <section class="col-md-12 mb-3">
          <div class="alert" role="alert" id="totalDuesAlert"></div>
        </section>
        <section class="col-md-6 mb-4">
          <div class="list-group" id="users">
            <div class="mb-5 text-center">
              <div class="spinner-border" role="status"></div>
              <div>Loading ...</div>
            </div>
          </div>
          <div class="mt-4 custom__cta-group">
            <button type="button"
                    class="btn btn-primary mr-2"
                    data-toggle="modal"
                    data-target="#form--expense"
                    onclick="addExpense()">+ Add an expense</button>
            <button type="button"
                    class="btn btn-outline-primary"
                    data-toggle="modal"
                    data-target="#form--user"
                    onclick="addUser()">+ Add a friend</button>
          </div>
        </section>
        <section class="col-md-6 container__action">
          <div class="card hidden" id="user-details__container">
            <div class="row no-gutters">
              <div class="col-md-4" id="user-details__image"></div>
              <div class="col-md-8">
                <div class="card-body" id="user-details"></div>
                <div class="card-body">
                  <h5 class="h5">Groups</h5>
                  <ul class="list-group list-group-flush" id="user-details__groups">
                  </ul>
                </div>
              </div>
              <div class="col-xl-4"></div>
              <div class="col-xl-8">
                <div class="card-body custom__cta-group--details" id="user-details__cta"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!--(bake partials/footer.html)-->
    <!--(bake partials/scripts.html)-->
  </body>
</html>
