<!DOCTYPE html>
<html lang="en">
  <!--(bake partials/head.html)-->
  <title>Bill splitter | Split your bills easily</title>
  <body>
    <!--(bake partials/navbar.html)-->
    <!--(bake partials/modals.html)-->
    <main class="container pt-md-5 pb-5">
      <h1 class="display-4">Bill splitter</h1>
      <p class="lead">An intuitive way to split expenses among your friends</p>
      <hr class="mb-5" />
      <section class="jumbotron">
        <h2 class="h2" id="dashboard__title">
          <div class="mb-3" style="text-align: center">
            <div class="spinner-border h6" role="status"></div>
            <div class="h6">Loading ...</div>
          </div>
        </h2>
        <hr class="mb-4" />
        <p class="lead">
          This amount is the total of all the dues for all the pending
          (non-settled) groups.
        </p>
        <a class="btn btn-primary mr-2" href="/users.html" role="button"
          >Settle now</a
        >
        <a class="btn btn-outline-primary" href="/groups.html" role="button"
          >View details</a
        >
      </section>
      <section class="row">
        <div class="col-md-6">
          <h4 class="h4">Dues with friends</h4>
          <div id="dashboard__list--users">
            <div class="mb-3" style="text-align: center">
              <div class="spinner-border h6" role="status"></div>
              <div class="h6">Loading ...</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="h4">Non-settled groups</h4>
          <div id="dashboard__list--groups">
            <div class="mb-3" style="text-align: center">
              <div class="spinner-border h6" role="status"></div>
              <div class="h6">Loading ...</div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--(bake partials/footer.html)-->
    <!--(bake partials/scripts.html)-->
  </body>
</html>
