<!DOCTYPE html>
<html lang="en">
  <!--(bake partials/head.html)-->
  <title>Bill splitter | My friends</title>
  <body>
    <!--(bake partials/navbar.html)-->
    <main class="container pt-md-5 pb-5">
      <h1 class="display-4">My friends</h1>
      <hr class="mb-5" />
      <div class="row">
        <section class="col-md-6 mb-4">
          <ul class="list-group" id="users">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ul>
          <div class="mt-4 custom__cta-group">
            <button type="button" class="btn btn-primary mr-2">
              + Add an expense
            </button>
            <button type="button" class="btn btn-outline-primary">
              + Add a friend
            </button>
          </div>
        </section>
        <section class="col-md-6 container__action">
          <div class="card hidden" id="user-details__container">
            <div class="row no-gutters">
              <div class="col-md-4" id="user-details__image"></div>
              <div class="col-md-8">
                <div class="card-body" id="user-details"></div>
                <div class="card-body">
                  <h5 class="h5">Groups</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Goa trip</li>
                    <li class="list-group-item">Walmart shopping</li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4"></div>
              <div class="col-xl-8">
                <div class="card-body custom__cta-group--details">
                  <a href="#" class="btn btn-primary mr-2">Settle</a>
                  <a href="#" class="btn btn-outline-primary mr-2"
                    >Edit profile</a
                  >
                  <a href="#" class="btn btn-outline-danger">Remove</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!--(bake partials/footer.html)-->
    <!--(bake partials/scripts.html)-->
  </body>
</html>
