<footer class="custom__footer pt-4">
  <div class="container">
    <p class="custom__footer--links">
      <span>
        <strong>&#169; IP of Kaustubh Ghodke</strong>
      </span>
      <span>
        <a
          href="https://github.com/kaustubhdgr8"
          target="_blank"
          rel="noopener noreferrer"
          class="ml-md-3"
        >
          <img
            src="assets/icons/github.svg"
            alt="GitHub"
            title="GitHub"
            style="height: 2.5vh"
          />
        </a>
        <a
          href="https://www.facebook.com/kaustubhdgr8"
          target="_blank"
          rel="noopener noreferrer"
          class="ml-3"
        >
          <img
            src="assets/icons/facebook.svg"
            alt="Facebook"
            title="Facebook"
            style="height: 2.5vh"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/kaustubhghodke"
          target="_blank"
          rel="noopener noreferrer"
          class="ml-3"
        >
          <img
            src="assets/icons/linkedin.svg"
            alt="LinkedIn"
            title="LinkedIn"
            style="height: 2.5vh"
          />
        </a>
      </span>
    </p>
    <p>
      <small
        >This site is developed with JavaScript, HTML, CSS, Bootstrap, Grunt and
        Firebase DB.</small
      >
    </p>
    <br />
    <p>
      <small class="text-muted">
        <a
          href="https://www.freepik.com/vectors/business"
          target="_blank"
          rel="noopener noreferrer"
          style="color: black"
          >Business vector created by macrovector - www.freepik.com</a
        >
      </small>
    </p>
  </div>
</footer>
