<!-- User form -->
<div
  class="modal fade"
  id="form--user"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div
    class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="user-form__title">Add a friend</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="user-form" data-user="" method="POST">
          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="number" class="col-sm-3 col-form-label"
              >Phone number</label
            >
            <div class="col-sm-9">
              <input
                type="tel"
                class="form-control"
                name="number"
                id="number"
                aria-describedby="number-help"
              />
              <small id="number-help" class="form-text text-muted"
                >(Optional) Useful for reminding your friend.</small
              >
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-3 pt-0">Gender</legend>
              <div class="col-sm-9">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="gender--m"
                    value="m"
                    aria-describedby="gender-help"
                    required
                  />
                  <label class="form-check-label" for="gender--m"> Male </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="gender--f"
                    value="f"
                    aria-describedby="gender-help"
                    required
                  />
                  <label class="form-check-label" for="gender--f">
                    Female
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="gender--o"
                    value="o"
                    aria-describedby="gender-help"
                    required
                  />
                  <label class="form-check-label" for="gender--o">
                    Other
                  </label>
                </div>
                <small id="gender-help" class="form-text text-muted">
                  This information is used for assigning a random avatar.
                </small>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-3">Consent</div>
            <div class="col-sm-9">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="consent"
                  required
                />
                <label class="form-check-label" for="consent">
                  Please do not submit any confidential or sensitive
                  information. This data is publicly accessible.
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger mr-2"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" form="user-form">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Group form -->
<div
  class="modal fade"
  id="form--group"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div
    class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="group-form__title">Create a new group</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="group-form" data-group="" method="POST">
          <div class="form-group row">
            <label for="groupname" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="groupname"
                id="groupname"
                required
              />
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-3 pt-0">Group type</legend>
              <div class="col-sm-9">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="grouptype"
                    id="grouptype--trip"
                    value="trip"
                    required
                  />
                  <label class="form-check-label" for="grouptype--trip">
                    Trip
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="grouptype"
                    id="grouptype--house"
                    value="house"
                    required
                  />
                  <label class="form-check-label" for="grouptype--house">
                    House
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="grouptype"
                    id="grouptype--other"
                    value="other"
                    required
                  />
                  <label class="form-check-label" for="grouptype--other">
                    Other
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-3">Consent</div>
            <div class="col-sm-9">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="groupconsent"
                  required
                />
                <label class="form-check-label" for="groupconsent">
                  Please do not submit any confidential or sensitive
                  information. This data is publicly accessible.
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger mr-2"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" form="group-form">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Member form -->
<div
  class="modal fade"
  id="form--member"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div
    class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="member-form__title">Add a member</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="member-form" data-group="" method="POST">
          <div class="form-group row">
            <label for="user-multiselect" class="col-sm-3 col-form-label"
              >Select one or more users</label
            >
            <div class="col-sm-9">
              <select
                class="custom-select"
                id="user-multiselect"
                required
                multiple
              ></select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="/users.html">Friends not in the list? Add them here</a>
        <button
          type="button"
          class="btn btn-outline-danger mr-2"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" form="member-form">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Expense form -->
<div
  class="modal fade"
  id="form--expense"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div
    class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add an expense</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="expense-form" data-group="" method="POST">
          <div class="form-group row">
            <label for="expense-group" class="col-sm-3 col-form-label">
              Group
            </label>
            <div class="col-sm-9">
              <select class="form-control" id="expense-group" required></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="expense-category" class="col-sm-3 col-form-label">
              Category
            </label>
            <div class="col-sm-9">
              <select
                class="form-control"
                id="expense-category"
                required
              ></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="expense-name" class="col-sm-3 col-form-label"
              >Description</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="expense-name"
                id="expense-name"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="expense-amount" class="col-sm-3 col-form-label"
              >Amount</label
            >
            <div class="input-group col-sm-9">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input
                type="number"
                class="form-control"
                id="expense-amount"
                name="expense-amount"
                step=".01"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="expense-paidby" class="col-sm-3 col-form-label">
              Bill paid by
            </label>
            <div class="col-sm-9">
              <select
                class="form-control"
                id="expense-paidby"
                required
              ></select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3 mb-2">Split among 'You' and</div>
            <div class="col-sm-9" id="expense-user-list"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger mr-2"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="reset"
          class="btn btn-outline-primary"
          form="expense-form"
        >
          Reset
        </button>
        <button type="submit" class="btn btn-primary" form="expense-form">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
