<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light custom__navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="assets/images/bill-splitter.png"
           alt="Bill splitter"
           loading="lazy"
           height="100%"
           width="100%" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item custom__navbar--item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item custom__navbar--item">
          <a class="nav-link" href="users.html">Friends</a>
        </li>
        <li class="nav-item custom__navbar--item">
          <a class="nav-link" href="groups.html">Groups</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
